<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0">Topics</h5>
  </div>
  <div class="card-body">
    <div class="list-group">
      <%= link_to "All Posts", posts_path, class: "list-group-item list-group-item-action" %>
      <%= link_to "Pinned Posts", pinned_posts_path, class: "list-group-item list-group-item-action" %>
      <%= link_to "Announcements", announcements_posts_path, class: "list-group-item list-group-item-action" %>
      <% Topic.all.each do |topic| %>
        <%= link_to topic.name, topic_path(topic), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
</div>