<div class="uploaded-files-container">
  <h1 class="uploaded-files-title">Uploaded Files</h1>
  <ul class="uploaded-files-list">
    <% @uploaded_files.each do |uploaded_file| %>
      <li class="uploaded-file-item">
        <%= link_to uploaded_file.name, uploaded_file, class: "uploaded-file-link" %>
      </li>
    <% end %>
  </ul>
</div>
