<% content_for :title, "New post" %>

<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div class="back-to-posts">
  <%= link_to "Back to posts", posts_path, class: "back-to-posts-link" %>
</div>
