/* Navbar Arka Plan Rengi */
.bg-primary.navbar {
    background-color: #0C0C0D;
    padding-left: 0.5em;
  }
  
  /* Navbar Logo Boyutlandırma */
  .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  
  /* Body Zoom */
  body.not-scrollable {
    zoom: 100%;
  }

  main.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  /* Sol Menü Margin ve Scrollable */
  .row .col-2.scrollable {
    color: grey;
    background-color: #0e1113;
    border: 1px solid grey;
  }
  
  /* Sağ ve Sol Menü Scrollable Alt Padding */
  .scrollable {
    padding-bottom: 5em;
  }
  
  /* Yeni Post ve Dosya Yükle Butonları */
  .btn.ms-2 {
    background: #003D7E;
    border-radius: 999px;
  }

  .d-flex {
    width: 500px;
  }
  
  .input-group-text{
  border-radius: 30px 0 0 30px;
  background-color: #2a3236;
  color: #181c1f;
  border: var(--bs-border-width) solid #2a3236;
  }
  

  .form-control {
    border-radius: 0 30px 30px 0;
    background-color: #2a3236;
    color: #5c6c74;
    border: var(--bs-border-width) solid #2a3236; /* Diğer kenarlar */
    border-left-color: #2a3236; /* Sağ kenarın rengi */
    
  }

  .form-control:focus {
    background-color: #2a3236;
    color: #5c6c74;
    box-shadow: none;
    border: none;
  }

  /* Search Posts placeholder metninin rengini değiştirme */
.form-control::placeholder {
    color: #5c6c74; /* Burada istediğiniz rengi belirleyebilirsiniz */
}

/* Navbar'ın arka plan rengini değiştirme */
.navbar {
background-color: #0e1113 !important; /* Buraya istediğiniz rengi girin */
}

.navbar-brand {
    color: #8c9ea7;
}

.navbar-brand:hover {
  color: #0865c7;
}

.nav-link {
    color: #5c6c74;

}

.nav-link:hover {
  color: #003d7e;

}

/* Topics kısmı */
.btn.mt-2 {
  background: #003D7E;
  margin-left: 20px;
}

h1 {
  text-align: center;
}




  
  
  