/* Navbar Arka Plan Rengi */
.bg-primary.navbar {
    background-color: #0C0C0D;
    padding-left: 0.5em;
  }
  
  /* Navbar Logo Boyutlandırma */
  .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  
  /* Body Zoom */
  body.not-scrollable {
    zoom: 100%;
  }

  main.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  /* Sol Menü Margin ve Scrollable */
  .row .col-2.scrollable {
    margin-left: 0.5em;
  }
  
  /* Sağ ve Sol Menü Scrollable Alt Padding */
  .scrollable {
    padding-bottom: 5em;
  }
  
  /* Yeni Post ve Dosya Yükle Butonları */
  .btn.ms-2 {
    background: #003D7E;
    border-radius: 999px;
  }

  .d-flex {
    width: 500px;
  }
  
  .input-group-text{
  border-radius: 30px 0 0 30px;
  background-color: #e5ebee;
  color: #181c1f;
  }

  .form-control {
    border-radius: 0 30px 30px 0;
    background-color: #e5ebee;
    color: #5c6c74;
    
  }

  .form-control:focus {
    background-color: #e5ebee;
    color: #5c6c74;
  }

  /* Search Posts placeholder metninin rengini değiştirme */
.form-control::placeholder {
    color: #5c6c74; /* Burada istediğiniz rengi belirleyebilirsiniz */
}

/* Navbar'ın arka plan rengini değiştirme */
.navbar {
background-color: #fff !important; /* Buraya istediğiniz rengi girin */
}

.navbar-brand {
    color: #8c9ea7;
}

.nav-link {
    color: #5c6c74;

}


  
  
  